<template>
  <v-container class="home">
    <v-layout row>
      <v-text-field
        :value="userNamesValue"
        label="Github users"
        hint="Type github user names"
        @input="updateUserNames"
      />
      <v-btn
        :disabled="!userNames[0]"
        @click="goToFirstTab"
      >
        Zatwierdź
      </v-btn>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'home',

  computed: {
    ...mapState('users', [
      'userNames',
    ]),

    userNamesValue() {
      return this.userNames.join(' ');
    },
  },

  methods: {
    ...mapMutations('users', [
      'setUserNames',
    ]),

    updateUserNames(value) {
      this.setUserNames(value.split(' '));
    },

    goToFirstTab() {
      this.$router.push({ name: 'user.index', params: { userName: this.userNames[0] } });
    },
  },
};
</script>
