<template>
  <v-container>
    <v-layout
      v-if="isLoading"
      row
      justify-center
    >
      <v-progress-circular indeterminate/>
    </v-layout>
    <template v-else-if="!error.message">
      <v-layout row wrap>
        <v-flex
          xs12 sm4 md2
          class="text-xs-center pa-2"
        >
          <UserAvatar :image="activeUser.avatar_url"/>
        </v-flex>
        <v-flex
          xs12 sm5
          class="pa-2"
        >
          <div class="title mb-2">{{ activeUser.name }} ({{ activeUser.login }})</div>
          <div class="subheading">
            Followers: {{ activeUser.followers }}
            Following: {{ activeUser.following }}
          </div>
          <div class="subheading">
            Repositories: {{ activeUser.public_repos }}
            Gists: {{ activeUser.public_gists }}
          </div>
          <v-btn
            :href="activeUser.html_url"
            class="ml-0"
          >
            See on GitHub
            <v-icon right>launch</v-icon>
          </v-btn>
        </v-flex>
        <v-flex xs12 sm3 md5>
          <div class="body-1">{{ activeUser.bio }}</div>
        </v-flex>
      </v-layout>
      <v-container
        v-if="activeUser.repos"
        grid-list-md
      >
        <v-layout
          row
          wrap
          align-stretch
        >
          <UserRepository
            v-for="(repository, index) in activeUser.repos"
            :key="index"
            :repository="repository"
          />
        </v-layout>
        <v-layout
          row
          justify-center
        >
          <v-progress-circular
            v-if="isLoadingRepositories"
            indeterminate
          />
          <v-btn
            v-if="showLoadReposButton"
            @click="loadMoreRepositories"
          >
            Load more
          </v-btn>
        </v-layout>
        <v-layout row>
          Repositories shown: {{ activeUser.repos.length }} / {{ activeUser.public_repos }}
        </v-layout>
      </v-container>
    </template>
    <v-layout v-else>
      <v-alert
        :value="true"
        type="error"
      >
      Whoops! Something went wrong: {{ error.message }}
      </v-alert>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import UserAvatar from '@/components/UserAvatar.vue';
import UserRepository from '@/components/UserRepository.vue';

export default {
  name: 'UserView',

  components: {
    UserAvatar,
    UserRepository,
  },

  data() {
    return {
      isLoading: true,
      isLoadingRepositories: false,
      error: {},
      page: 1,
    };
  },

  computed: {
    ...mapState('users', [
      'activeUser',
    ]),

    showLoadReposButton() {
      return (this.activeUser.repos.length !== this.activeUser.public_repos)
        && !this.isLoadingRepositories;
    },
  },

  async mounted() {
    await this.performLoading(this.$route.params.userName);
  },

  methods: {
    ...mapActions('users', [
      'getUserDetails',
      'getUserRepositories',
    ]),

    async performLoading(userName) {
      this.isLoading = true;
      try {
        await this.getUserDetails(userName);
      } catch (err) {
        this.error = err;
      } finally {
        this.isLoading = false;
      }
    },

    async loadMoreRepositories() {
      this.isLoadingRepositories = true;
      await this.getUserRepositories({
        reposUrl: this.activeUser.repos_url,
        params: {
          page: this.page + 1,
        },
      });
      this.page = this.page + 1;
      this.isLoadingRepositories = false;
    },
  },
};
</script>
