<template>
  <v-flex xs6 sm4 lg3>
    <v-card class="repository-card">
      <v-card-title class="title">
        {{ repository.name }}
      </v-card-title>
      <v-card-text>
        {{ repository.description }}
      </v-card-text>
      <v-card-actions class="mt-auto">
        <v-btn
          :href="repository.html_url"
          class="ml-0"
        >
          See on GitHub
          <v-icon right>launch</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  name: 'UserRepository',

  props: {
    repository: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style>
.repository-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
</style>
