<template>
  <v-avatar :size="128">
    <img :src="image"/>
  </v-avatar>
</template>

<script>
export default {
  name: 'UserAvatar',

  props: {
    image: {
      type: String,
      required: true,
    },
  },
};
</script>
