<template>
  <v-app id="app">
    <v-tabs>
      <v-tab :to="{ name: 'home' }">Home</v-tab>
      <v-tab
        v-for="(userName, index) in userNames"
        :key="index"
        :to="{ name: 'user.index', params: { userName }}"
      >
        {{ userName }}
      </v-tab>
    </v-tabs>
    <transition
      name="fade-slide"
      mode="out-in"
    >
      <router-view :key="$route.path"/>
    </transition>
  </v-app>
</template>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState('users', [
      'userNames',
    ]),
  },
};
</script>

<style>
  .fade-slide-enter-active, .fade-slide-leave-active {
    transition: opacity .2s, transform .2s;
  }
  .fade-slide-enter, .fade-slide-leave-to {
    opacity: 0;
    transform: translateX(50px);
  }
</style>
